
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% include 'web/componentes/scripts.html' %}
</head>
<body>
    {% include 'web/componentes/navbar.html' %}
    <main>
        <h1>flanes</h1>
        {% for flan in flanes %}
        <img src="{{ flan.imagen.url }}" alt="" >
        <li> {{ flan.nombre_producto }}</li>
        <li> {{ flan.descripcion }}</li>
        <li> {{ flan.precio }}</li>
        <li> {{ flan.stock }}</li>
        <li> {{ flan.nombre_producto }}</li>

        {% endfor %}


    </main>
    


    {% include "web/componentes/footer.html" %}
</body>
</html>